.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/***Custom-CSS***/
.warper-body{
  border-left:#3b6f63 15px solid;
}
.width-450 {
  width:450px !important;
}

.pro-avitar img{
  width: 65px;
  border-radius: 7px;
}

.avitar-welcome-txt span{
  font-size: 12px;
}

.avitar-welcome-txt h5{
  font-size:15px;
}

.bg-green{
  background-color: #cce5c7;
}

.sidebar-nav a {
  text-decoration: none;
  color: #3b6f63;
}

.sidebar-nav a:hover {
  
  color: #151515;
}

.sidebar-nav {
  margin-right: 20px;
}

.sidebar-nav li{
  margin: 15px 0;
}

.sidebar-nav i{
  padding: 0 22px 0 23px;
}

.active-col{
  background-color: #3b6f63;
  padding: 15px 11px 15px 15px;
  border-radius: 0 25px 25px 0px;
}

.active-col i{
  background-color: #cce5c7;
  padding: 6px 9px;
}

.bg-white{
  background-color: #ffffff;
}

.small-font{
  font-size: 13px;
}

.img-40{
  width:45px;
}

.bg-green-lt{
  background-color: #eaf4e9;
}

.bg-green-lg{
  background-color: #a8c8b9;
}

.dashbod-container{
  background: rgb(236,246,235);
  background: linear-gradient(90deg, rgba(236,246,235,1) 0%, rgba(255,255,255,1) 100%);
  border-radius: 40px 40px 0;
    height: 500px;
    padding: 30px;
}
.img-middle{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img-middle img{
  padding: 15px;
}



.dash-card label{
  font-size: 12px;
  display: flow-root;
  color: #000 ;
}

.dash-card .card-text {
  color: #3b6f63;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
